<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnose</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<style>
    body {
        background-color: antiquewhite;
    }

    div label {
        border: 2px solid black;
        padding: 4px 8px;
        margin: 0px 4px;
        border-radius: 10px;
        background-color: cornflowerblue;
    }

    div input {
        border: 2px solid black;
        padding: 6px 8px 0px 8px;
        margin: 0px 4px;
        border-radius: 10px;
        background-color: lawngreen;
    }

    select {
        border: 2px solid black;
        padding: 6px 8px 0px 8px;
        margin: 6px 4px;
        border-radius: 5px;
        background-color: lawngreen;
    }

    #gender option {
        background-color: #9e9e9e;
        background-color: #9e9e9e;
    }

    #but {
        padding: 3px 6px 3px 6px;
        font-size: 25px;
        border-radius: 5px;
        margin: 5px 5px;
        background-color: lightcoral;
        border: 2px solid black;
    }

    #but2 {
        padding: 3px 6px 3px 6px;
        font-size: 20px;
        border-radius: 8px;
        margin: 5px 5px;
        background-color: rgb(228, 176, 161);
        border: 2px solid black;
        cursor: pointer;
    }

    .divine {
        margin: 20px 5px;
        padding: 10px 0px;
    }

    #symptom option:nth-child(2n+0) {
        background-color: rgb(230, 140, 140);
    }

    #symptom option:nth-child(2n+1) {
        background-color: rgb(224, 32, 73);
    }

    #gender option {
        background-color: lightcoral;
    }

    h3 {
        font-family: 'Ubuntu', sans-serif;
    }

    /* #myform{
       margin: 6px 4px;
   } */

    .kk {
        background-color: grey;
    }
</style>

<body>

    <div class="kk" style="border: 2px solid black; text-align: center;">

        <form action="/diagnose" method="post" name="forms" id="forms">

            <div class="divine">
                <label for="Age">Age:</label>
                <input type="number" name="Age" id="Age" required="" autocomplete="off" placeholder="i.e. 20">
            </div>
            <div class="divine">
                <label for="gender">Gender:</label>
                <select name="gender" id="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>

            <div class="divine">
                <label for="IDs">Symptom IDs</label>
                <input type="text" name="IDs" id="IDs" required="" autocomplete="off" placeholder="i.e. 9,10,11">

            </div>

            <button id="but" type="submit">Submit</button>
        </form>
        <div>
            <h3>Select the symptom form below dropdown and input its obtained ID in symptom's IDs.
            </h3>
            <h3>
                For more than one symptom enter IDs seperated by comma.
            </h3>
        </div>



        <form method=" " action=" " id="myform" name="myform" onsubmit="getid()">

            <label for="symptom">Select symptom to get it's id: </label>
            <select name="symptom" id="symptom">
                <option id="mm" value="Abdominal guarding"> Abdominal guarding</option>

                <option value="Abdominal pain"> Abdominal pain</option>
                <option value="Abdominal pain associated with menstruation"> Abdominal pain associated with
                    menstruation
                </option>
                <option value="Absence of a pulse"> Absence of a pulse</option>
                <option value="Aggressiveness"> Aggressiveness</option>
                <option value="Agitation"> Agitation</option>
                <option value="Ankle deformity">Ankle deformity</option>
                <option value="Ankle swelling"> Ankle swelling</option>
                <option value="Anxiety"> Anxiety</option>
                <option value="Arm pain">Arm pain</option>
                <option value="Arm swelling">Arm swelling</option>
                <option value="Back deformity">Back deformity</option>
                <option value="Back pain">Back pain</option>
                <option value="Black stools">Black stools</option>
                <option value="Blackening of vision">Blackening of vision</option>
                <option value="Blackhead">Blackhead</option>
                <option value="Bleeding from vagina">Bleeding from vagina</option>
                <option value="Bleeding in the conjunctiva of the eye">Bleeding in the conjunctiva of the eye
                </option>
                <option value="Bloated feeling in the stomach">Bloated feeling in the stomach</option>
                <option value="Blood in stool">Blood in stool</option>
                <option value="Bloody cough">Bloody cough</option>
                <option value="Blue colored skin">Blue colored skin</option>
                <option value="Blue spot on skin">Blue spot on skin</option>
                <option value="Blurred vision">Blurred vision</option>
                <option value="Bold area among hair on the head">Bold area among hair on the head</option>
                <option value="Bone fracture">Bone fracture</option>
                <option value="Breathing-related pains">Breathing-related pains</option>
                <option value="Brittleness of nails">Brittleness of nails</option>
                <option value="Bulging abdominal wall">Bulging abdominal wall</option>
                <option value="Burning eyes">Burning eyes</option>
                <option value="Burning in the throat"> Burning in the throat</option>
                <option value="Burning nose"> Burning nose</option>
                <option value="Burning sensation when urinating">Burning sensation when urinating</option>
                <option value="Changes in the nails">Changes in the nails</option>
                <option value="Cheek swelling">Cheek swelling</option>
                <option value="Chest pain">Chest pain</option>
                <option value="Chest tightness">Chest tightness</option>
                <option value="Chills">Chills</option>
                <option value="Coarsening of the skin structure ">Coarsening of the skin structure</option>
                <option value="Cold feet">Cold feet</option>
                <option value="Cold hands">Cold hands</option>
                <option value="Cold sweats">Cold sweats</option>
                <option value="Cough">Cough</option>
                <option value="Cough with sputum">Cough with sputum</option>
                <option value="Cramps">Cramps</option>
                <option value="Cravings"> Cravings</option>
                <option value="Crusting"> Crusting</option>
                <option value="Curvature of the spine"> Curvature of the spine</option>
                <option value="Dark urine">Dark urine </option>
                <option value="Decreased urine stream">Decreased urine stream</option>
                <option value="Delayed start to urination">Delayed start to urination</option>
                <option value="Diarrhea"> Diarrhea</option>
                <option value="Difficult defecation"> Difficult defecation</option>
                <option value="Difficulty in finding words"> Difficulty in finding words</option>
                <option value="Difficulty in speaking">Difficulty in speaking</option>
                <option value="Difficulty in swallowing">Difficulty in swallowing</option>
                <option value="Difficulty to concentrate">Difficulty to concentrate</option>
                <option value="Difficulty to learn">Difficulty to learn</option>
                <option value="Difficulty with gait">Difficulty with gait</option>
                <option value="Discoloration of nails">Discoloration of nails</option>
                <option value="Disorientation regarding time or place">Disorientation regarding time or place
                </option>
                <option value="Distended abdomen">Distended abdomen</option>
                <option value="Dizziness">Dizziness</option>
                <option value="Double vision">Double vision</option>
                <option value="Double vision, acute-onset">Double vision, acute-onset</option>
                <option value="Dribbling after urination">Dribbling after urination</option>
                <option value="Drooping eyelid">Drooping eyelid</option>
                <option value="Drowsiness">Drowsiness</option>
                <option value="Dry eyes">Dry eyes</option>
                <option value="Dry mouth">Dry mouth</option>
                <option value="Dry skin">Dry skin</option>
                <option value="Earache">Earache</option>
                <option value="Early satiety">Early satiety</option>
                <option value="Elbow pain">Elbow pain</option>
                <option value="Enlarged calf"> Enlarged calf</option>
                <option value="Earache">Earache</option>
                <option value="Early satiety">Early satiety</option>
                <option value="Elbow pain">Elbow pain</option>
                <option value="Enlarged calf">Enlarged calf </option>
                <option value="Eye blinking">Eye blinking</option>
                <option value="Eye pain">Eye pain</option>
                <option value="Eye redness">"Eye redness</option>
                <option value="Eyelid swelling">Eyelid swelling</option>
                <option value="Eyelids sticking together">Eyelids sticking together</option>
                <option value="Face pain">Face pain</option>
                <option value="Facial paralysis">Facial paralysis</option>
                <option value="Facial swelling">Facial swelling</option>
                <option value="Fast, deepened breathing">Fast, deepened breathing</option>
                <option value="Fatty defecation">Fatty defecation</option>
                <option value="Feeling faint">Feeling faint</option>
                <option value="Feeling ill">Feeling ill</option>
                <option value="Feeling of foreign body in the eye">Feeling of foreign body in the eye</option>
                <option value="Feeling of pressure in the ear">Feeling of pressure in the ear</option>
                <option value="Feeling of residual urine">Feeling of residual urine</option>
                <option value="Feeling of tension in the legs">Feeling of tension in the legs</option>
                <option value="Fever">Fever</option>
                <option value="Finger deformity">Finger deformity</option>
                <option value="Finger pain">Finger pain</option>
                <option value="Finger swelling">Finger swelling</option>
                <option value="Flaking skin">Flaking skin</option>
                <option value="Flaking skin on the head">Flaking skin on the head</option>
                <option value="Flatulence">Flatulence</option>
                <option value="Foot pain">Foot pain</option>
                <option value="Foot swelling">Foot swelling</option>
                <option value="Forgetfulness">Forgetfulness</option>
                <option value="Formation of blisters on a skin area">Formation of blisters on a skin area</option>
                <option value="Foul smelling defecation">Foul smelling defecation</option>
                <option value="Frequent urination">Frequent urination</option>
                <option value="Genital warts">Genital warts</option>
                <option value="Hair loss">Hair loss</option>
                <option value="Hallucination"> Hallucination</option>
                <option value="Halo">Halo</option>
                <option value="Hand pain">Hand pain</option>
                <option value="Hand swelling">Hand swelling</option>
                <option value="Hard defecation">Hard defecation</option>
                <option value="Hardening of the skin">Hardening of the skin</option>
                <option value="Headache">Headache</option>
                <option value="Hearing loss"> Hearing loss </option>
                <option value="Heart murmur">Heart murmur</option>
                <option value="Heartburn">Heartburn</option>
                <option value="Hiccups">Hiccups</option>
                <option value="Hip deformity">Hip deformity</option>
                <option value="Hip pain">Hip pain </option>
                <option value="Hoarseness"> Hoarseness</option>
                <option value="Hot flushes">Hot flushes</option>
                <option value="Immobilization"> Immobilization</option>
                <option value="Impaired balance">Impaired balance</option>
                <option value="Impaired hearing">Impaired hearing</option>
                <option value="Impaired light-dark adaptation">Impaired light-dark adaptation</option>
                <option value="Impairment of male potency">Impairment of male potency</option>
                <option value="Incomplete defecation">Incomplete defecation</option>
                <option value="Increased appetite">Increased appetite</option>
                <option value="Increased drive">Increased drive</option>
                <option value="Increased salivation">Increased salivation</option>
                <option value="Increased thirst">Increased thirst </option>
                <option value="Increased touch sensitivity">Increased touch sensitivity</option>
                <option value="Increased urine quantity">Increased urine quantity</option>
                <option value="Involuntary movements">Involuntary movements</option>
                <option value="Irregular heartbeat">Irregular heartbeat</option>
                <option value="Irregular mole">Irregular mole</option>
                <option value="Itching eyes">Itching eyes</option>
                <option value="Itching in the ear">Itching in the ear</option>
                <option value="Itching in the mouth or throat">Itching in the mouth or throat</option>
                <option value="Itching in the nose">Itching in the nose</option>
                <option value="Itching of skin">Itching of skin</option>
                <option value="Itching of the anus">Itching of the anus</option>
                <option value="Itching on head">Itching on head</option>
                <option value="Itching or burning in the genital area">Itching or burning in the genital area
                </option>
                <option value="Joint effusion">Joint effusion</option>
                <option value="Joint instability">Joint instability</option>
                <option value="Joint pain">Joint pain</option>
                <option value="Joint redness">Joint redness</option>
                <option value="Joint swelling">Joint swelling</option>
                <option value="Joylessness">Joylessness</option>
                <option value="Knee deformity">Knee deformity</option>
                <option value="Knee pain">Knee pain</option>
                <option value="Leg cramps">Leg cramps</option>
                <option value="Leg pain">Leg pain</option>
                <option value="Leg swelling">Leg swelling</option>
                <option value="Leg ulcer">Leg ulcer</option>
                <option value="Less than 3 defecations per week">Less than 3 defecations per week</option>
                <option value="Limited mobility of the ankle">Limited mobility of the ankle</option>
                <option value="Limited mobility of the back">Limited mobility of the back</option>
                <option value="Limited mobility of the fingers">Limited mobility of the fingers</option>
                <option value="Limited mobility of the hip"> Limited mobility of the hip</option>
                <option value="Limited mobility of the leg"> </option>
                <option value="Lip swelling"> Lip swelling</option>
                <option value="Lockjaw"> Lockjaw</option>
                <option value="Loss of eye lashes"></option>
                <option value="Lower abdominal pain">Lower abdominal pain</option>
                <option value="Lower-back pain">Lower-back pain</option>
                <option value="Lump in the breast">Lump in the breast</option>
                <option value="Malposition of the testicles">Malposition of the testicles</option>
                <option value="Marked veins">Marked veins</option>
                <option value="Memory gap">Memory gap</option>
                <option value="Menstruation disorder">Menstruation disorder</option>
                <option value="Missed period">Missed period</option>
                <option value="Moist and softened skin">Moist and softened skin</option>
                <option value="Mood swings">Mood swings</option>
                <option value="Morning stiffness">Morning stiffness</option>
                <option value="Mouth pain">Mouth pain</option>
                <option value="Mouth ulcers">Mouth ulcers</option>
                <option value="Muscle pain">Muscle painMuscle pain</option>
                <option value="Muscle stiffness">Muscle stiffnessMuscle stiffness</option>
                <option value="Muscle weakness">Muscle weakness</option>
                <option value="Muscular atrophy in the leg">Muscular atrophy in the legMuscular atrophy in the leg
                </option>
                <option value="Muscular atrophy of the arm">Muscular atrophy of the arm</option>
                <option value="Muscular weakness in the arm">Muscular weakness in the arm </option>
                <option value="Muscular weakness in the leg">Muscular weakness in the leg </option>
                <option value="Nausea">Nausea</option>
                <option value="Neck pain">Neck pain</option>
                <option value="Neck stiffness">Neck stiffnessNeck stiffness</option>
                <option value="Nervousness">Nervousness</option>
                <option value="Night cough">Night coughNight cough</option>
                <option value="Night sweats">Night sweats</option>
                <option value="Non-healing skin wound">Non-healing skin wound</option>
                <option value="Nosebleed">Nosebleed</option>
                <option value="Numbness in the arm">Numbness in the arm</option>
                <option value="Numbness in the leg">Numbness in the leg</option>
                <option value="Numbness of the hands">Numbness of the hands</option>
                <option value="Oversensitivity to light">Oversensitivity to light</option>
                <option value="Overweight">Overweight</option>
                <option value="Pain in the bones">Pain in the bones</option>
                <option value="Pain in the calves">Pain in the calvesPain in the calves</option>
                <option value="Pain in the limbs"> Pain in the limbs</option>
                <option value="Pain of the anus">Pain of the anus</option>
                <option value="Pain on swallowing">Pain on swallowing</option>
                <option value="Pain radiating to the arm">Pain radiating to the arm</option>
                <option value="Pain radiating to the leg">Pain radiating to the leg</option>
                <option value="Pain when chewing">Pain when chewing</option>
                <option value="Painful defecation">Painful defecation</option>
                <option value="Painful urination">Painful urination</option>
                <option value="Pallor">Pallor</option>
                <option value="Palpitations">Palpitations</option>
                <option value="Paralysis">Paralysis</option>
                <option value="Physical inactivity">Physical inactivity</option>
                <option value="Problems with the sense of touch in the face">Problems with the sense of touch in the
                    face </option>
                <option value="Problems with the sense of touch in the feet">Problems with the sense of touch in the
                    feet
                </option>
                <option value="Protrusion of the eyes"></option>
                <option value="Purulent discharge from the urethra">Purulent discharge from the urethra</option>
                <option value="Purulent discharge from the vagina">Purulent discharge from the vagina</option>
                <option value="Rebound tenderness">Rebound tenderness</option>
                <option value="Reduced appetite">Reduced appetite</option>
                <option value="Ringing in the ear">Ringing in the ear</option>
                <option value="Runny nose">Runny nose</option>
                <option value="Sadness">Sadness</option>
                <option value="Scalp redness">Scalp redness</option>
                <option value="Scar">Scar</option>
                <option value="Sensitivity to cold">Sensitivity to cold</option>
                <option value="Sensitivity to glare">Sensitivity to glare</option>
                <option value="Sensitivity to noise">Sensitivity to noise"</option>
                <option value="Shiny red tongue">Shiny red tongue</option>
                <option value="Shortness of breath">Shortness of breath</option>
                <option value="Side pain">Side pain</option>
                <option value="Skin lesion">Skin lesion</option>
                <option value="Skin nodules">Skin nodules</option>
                <option value="Skin rash">Skin rash</option>
                <option value="Skin redness">Skin redness</option>
                <option value="Skin thickening">Skin thickening</option>
                <option value="Skin wheal">Skin wheal</option>
                <option value="Sleepiness with spontaneous falling asleep">Sleepiness with spontaneous falling asleep
                </option>
                <option value="Sleeplessness">Sleeplessness</option>
                <option value="Sneezing">Sneezing</option>
                <option value="Sore throat">Sore throat</option>
                <option value="Sputum">Sputum</option>
                <option value="Stomach burning">Stomach burning</option>
                <option value="Stress-related leg pain">Stress-related leg pain</option>
                <option value="Stuffy nose">Stuffy nose</option>
                <option value="Sweating">Sweating</option>
                <option value="Swelling in the genital area">Swelling in the genital area</option>
                <option value="Swelling of the testicles">Swelling of the testicles</option>
                <option value="Swollen glands in the armpit">Swollen glands in the armpit</option>
                <option value="Swollen glands in the groin">Swollen glands in the groin</option>
                <option value="Swollen glands in the neck">Swollen glands in the neck</option>
                <option value="Tears"> Tears</option>
                <option value="Testicular pain">Testicular pain </option>
                <option value="Tic">Tic </option>
                <option value="Tingling"> Tingling</option>
                <option value="Tiredness">Tiredness</option>
                <option value="Toe deformity">Toe deformity </option>
                <option value="Toe swelling">Toe swelling </option>
                <option value="Tongue burning"> Tongue burning</option>
                <option value="Tongue swelling">Tongue swelling </option>
                <option value="Toothache"> Toothache</option>
                <option value="Tremor at rest">Tremor at rest </option>
                <option value="Tremor on movement"> Tremor on movement</option>
                <option value="Trouble understanding speech">Trouble understanding speech </option>
                <option value="Unconsciousness, short">Unconsciousness, short </option>
                <option value="Uncontrolled defecation">Uncontrolled defecation</option>
                <option value="Underweight">Underweight</option>
                <option value="Urge to urinate">Urge to urinate</option>
                <option value="Urination during the night">Urination during the night</option>
                <option value="Vision impairment">Vision impairment</option>
                <option value="Vision impairment for far objects">Vision impairment for far objects</option>
                <option value="Vision impairment for near objects">Vision impairment for near objects</option>
                <option value="Visual field loss">Visual field loss</option>
                <option value="Vomiting">Vomiting</option>
                <option value="Vomiting blood">Vomiting blood</option>
                <option value="Weakness or numbness on right or left side of body">Weakness or numbness on right or
                    left
                    side of
                    body</option>
                <option value="Weight gain">Weight gain</option>
                <option value="Weight loss">Weight loss</option>
                <option value="Wheezing">Wheezing</option>
                <option value="Wound">Wound</option>
                <option value="Yellow colored skin">Yellow colored skin</option>
                <option value="Yellowish discoloration of the white part of the eye">Yellowish discoloration of the
                    white part of the eye</option>

            </select>

            <!-- <button type="submit">submit</button> -->
            <button id="but" type="submit">Submit</button>


        </form>

        <div id="s" style="display: none;">

            <h1>Id for <span id="sym_id"></span> : <u><span id="ID"></span> </u></h1>

        </div>
        <a href="/user/dashboard"> <button id="but2" type="button" class="btn btn-link">Go to dashboard</button> </a>

    </div>
    <script>

        const symptomes = [{ "ID": 188, "Name": "Abdominal guarding" }, { "ID": 10, "Name": "Abdominal pain" }, { "ID": 223, "Name": "Abdominal pain associated with menstruation" }, { "ID": 984, "Name": "Absence of a pulse" }, { "ID": 974, "Name": "Aggressiveness" }, { "ID": 981, "Name": "Agitation" }, { "ID": 996, "Name": "Ankle deformity" }, { "ID": 147, "Name": "Ankle swelling" }, { "ID": 238, "Name": "Anxiety" }, { "ID": 1009, "Name": "Arm pain" }, { "ID": 971, "Name": "Arm swelling" }, { "ID": 998, "Name": "Back deformity" }, { "ID": 104, "Name": "Back pain" }, { "ID": 180, "Name": "Black stools" }, { "ID": 57, "Name": "Blackening of vision" }, { "ID": 24, "Name": "Blackhead" }, { "ID": 284, "Name": "Bleeding from vagina" }, { "ID": 176, "Name": "Bleeding in the conjunctiva of the eye" }, { "ID": 48, "Name": "Bloated feeling in the stomach" }, { "ID": 190, "Name": "Blood in stool" }, { "ID": 233, "Name": "Bloody cough" }, { "ID": 991, "Name": "Blue colored skin" }, { "ID": 240, "Name": "Blue spot on skin" }, { "ID": 77, "Name": "Blurred vision" }, { "ID": 239, "Name": "Bold area among hair on the head" }, { "ID": 156, "Name": "Bone fracture" }, { "ID": 250, "Name": "Breathing-related pains" }, { "ID": 979, "Name": "Brittleness of nails" }, { "ID": 192, "Name": "Bulging abdominal wall" }, { "ID": 75, "Name": "Burning eyes" }, { "ID": 46, "Name": "Burning in the throat" }, { "ID": 288, "Name": "Burning nose" }, { "ID": 107, "Name": "Burning sensation when urinating" }, { "ID": 91, "Name": "Changes in the nails" }, { "ID": 170, "Name": "Cheek swelling" }, { "ID": 17, "Name": "Chest pain" }, { "ID": 31, "Name": "Chest tightness" }, { "ID": 175, "Name": "Chills" }, { "ID": 218, "Name": "Coarsening of the skin structure" }, { "ID": 89, "Name": "Cold feet" }, { "ID": 978, "Name": "Cold hands" }, { "ID": 139, "Name": "Cold sweats" }, { "ID": 15, "Name": "Cough" }, { "ID": 228, "Name": "Cough with sputum" }, { "ID": 94, "Name": "Cramps" }, { "ID": 49, "Name": "Cravings" }, { "ID": 134, "Name": "Crusting" }, { "ID": 260, "Name": "Curvature of the spine" }, { "ID": 108, "Name": "Dark urine" }, { "ID": 163, "Name": "Decreased urine stream" }, { "ID": 165, "Name": "Delayed start to urination" }, { "ID": 50, "Name": "Diarrhea" }, { "ID": 79, "Name": "Difficult defecation" }, { "ID": 126, "Name": "Difficulty in finding words" }, { "ID": 98, "Name": "Difficulty in speaking" }, { "ID": 93, "Name": "Difficulty in swallowing" }, { "ID": 53, "Name": "Difficulty to concentrate" }, { "ID": 1007, "Name": "Difficulty to learn" }, { "ID": 1005, "Name": "Difficulty with gait" }, { "ID": 216, "Name": "Discoloration of nails" }, { "ID": 128, "Name": "Disorientation regarding time or place" }, { "ID": 989, "Name": "Distended abdomen" }, { "ID": 207, "Name": "Dizziness" }, { "ID": 71, "Name": "Double vision" }, { "ID": 270, "Name": "Double vision, acute-onset" }, { "ID": 162, "Name": "Dribbling after urination" }, { "ID": 244, "Name": "Drooping eyelid" }, { "ID": 43, "Name": "Drowsiness" }, { "ID": 273, "Name": "Dry eyes" }, { "ID": 272, "Name": "Dry mouth" }, { "ID": 151, "Name": "Dry skin" }, { "ID": 87, "Name": "Earache" }, { "ID": 92, "Name": "Early satiety" }, { "ID": 1011, "Name": "Elbow pain" }, { "ID": 1006, "Name": "Enlarged calf" }, { "ID": 242, "Name": "Eye blinking" }, { "ID": 287, "Name": "Eye pain" }, { "ID": 33, "Name": "Eye redness" }, { "ID": 208, "Name": "Eyelid swelling" }, { "ID": 209, "Name": "Eyelids sticking together" }, { "ID": 219, "Name": "Face pain" }, { "ID": 246, "Name": "Facial paralysis" }, { "ID": 970, "Name": "Facial swelling" }, { "ID": 153, "Name": "Fast, deepened breathing" }, { "ID": 83, "Name": "Fatty defecation" }, { "ID": 982, "Name": "Feeling faint" }, { "ID": 1014, "Name": "Feeling ill" }, { "ID": 76, "Name": "Feeling of foreign body in the eye" }, { "ID": 86, "Name": "Feeling of pressure in the ear" }, { "ID": 164, "Name": "Feeling of residual urine" }, { "ID": 145, "Name": "Feeling of tension in the legs" }, { "ID": 11, "Name": "Fever" }, { "ID": 995, "Name": "Finger deformity" }, { "ID": 1013, "Name": "Finger pain" }, { "ID": 1012, "Name": "Finger swelling" }, { "ID": 214, "Name": "Flaking skin" }, { "ID": 245, "Name": "Flaking skin on the head" }, { "ID": 154, "Name": "Flatulence" }, { "ID": 255, "Name": "Foot pain" }, { "ID": 1002, "Name": "Foot swelling" }, { "ID": 125, "Name": "Forgetfulness" }, { "ID": 62, "Name": "Formation of blisters on a skin area" }, { "ID": 84, "Name": "Foul smelling defecation" }, { "ID": 59, "Name": "Frequent urination" }, { "ID": 110, "Name": "Genital warts" }, { "ID": 152, "Name": "Hair loss" }, { "ID": 976, "Name": "Hallucination" }, { "ID": 72, "Name": "Halo" }, { "ID": 186, "Name": "Hand pain" }, { "ID": 148, "Name": "Hand swelling" }, { "ID": 80, "Name": "Hard defecation" }, { "ID": 184, "Name": "Hardening of the skin" }, { "ID": 9, "Name": "Headache" }, { "ID": 206, "Name": "Hearing loss" }, { "ID": 985, "Name": "Heart murmur" }, { "ID": 45, "Name": "Heartburn" }, { "ID": 122, "Name": "Hiccups" }, { "ID": 993, "Name": "Hip deformity" }, { "ID": 196, "Name": "Hip pain" }, { "ID": 121, "Name": "Hoarseness" }, { "ID": 149, "Name": "Hot flushes" }, { "ID": 197, "Name": "Immobilization" }, { "ID": 120, "Name": "Impaired balance" }, { "ID": 90, "Name": "Impaired hearing" }, { "ID": 70, "Name": "Impaired light-dark adaptation" }, { "ID": 113, "Name": "Impairment of male potency" }, { "ID": 81, "Name": "Incomplete defecation" }, { "ID": 131, "Name": "Increased appetite" }, { "ID": 262, "Name": "Increased drive" }, { "ID": 204, "Name": "Increased salivation" }, { "ID": 40, "Name": "Increased thirst" }, { "ID": 220, "Name": "Increased touch sensitivity" }, { "ID": 39, "Name": "Increased urine quantity" }, { "ID": 257, "Name": "Involuntary movements" }, { "ID": 986, "Name": "Irregular heartbeat" }, { "ID": 65, "Name": "Irregular mole" }, { "ID": 73, "Name": "Itching eyes" }, { "ID": 88, "Name": "Itching in the ear" }, { "ID": 973, "Name": "Itching in the mouth or throat" }, { "ID": 96, "Name": "Itching in the nose" }, { "ID": 21, "Name": "Itching of skin" }, { "ID": 999, "Name": "Itching of the anus" }, { "ID": 247, "Name": "Itching on head" }, { "ID": 268, "Name": "Itching or burning in the genital area" }, { "ID": 194, "Name": "Joint effusion" }, { "ID": 198, "Name": "Joint instability" }, { "ID": 27, "Name": "Joint pain" }, { "ID": 230, "Name": "Joint redness" }, { "ID": 193, "Name": "Joint swelling" }, { "ID": 47, "Name": "Joylessness" }, { "ID": 994, "Name": "Knee deformity" }, { "ID": 256, "Name": "Knee pain" }, { "ID": 146, "Name": "Leg cramps" }, { "ID": 1010, "Name": "Leg pain" }, { "ID": 231, "Name": "Leg swelling" }, { "ID": 143, "Name": "Leg ulcer" }, { "ID": 82, "Name": "Less than 3 defecations per week" }, { "ID": 992, "Name": "Limited mobility of the ankle" }, { "ID": 167, "Name": "Limited mobility of the back" }, { "ID": 178, "Name": "Limited mobility of the fingers" }, { "ID": 1000, "Name": "Limited mobility of the hip" }, { "ID": 195, "Name": "Limited mobility of the leg" }, { "ID": 35, "Name": "Lip swelling" }, { "ID": 205, "Name": "Lockjaw" }, { "ID": 210, "Name": "Loss of eye lashes" }, { "ID": 174, "Name": "Lower abdominal pain" }, { "ID": 263, "Name": "Lower-back pain" }, { "ID": 261, "Name": "Lump in the breast" }, { "ID": 266, "Name": "Malposition of the testicles" }, { "ID": 232, "Name": "Marked veins" }, { "ID": 235, "Name": "Memory gap" }, { "ID": 112, "Name": "Menstruation disorder" }, { "ID": 123, "Name": "Missed period" }, { "ID": 215, "Name": "Moist and softened skin" }, { "ID": 85, "Name": "Mood swings" }, { "ID": 983, "Name": "Morning stiffness" }, { "ID": 135, "Name": "Mouth pain" }, { "ID": 97, "Name": "Mouth ulcers" }, { "ID": 177, "Name": "Muscle pain" }, { "ID": 119, "Name": "Muscle stiffness" }, { "ID": 987, "Name": "Muscle weakness" }, { "ID": 252, "Name": "Muscular atrophy in the leg" }, { "ID": 202, "Name": "Muscular atrophy of the arm" }, { "ID": 168, "Name": "Muscular weakness in the arm" }, { "ID": 253, "Name": "Muscular weakness in the leg" }, { "ID": 44, "Name": "Nausea" }, { "ID": 136, "Name": "Neck pain" }, { "ID": 234, "Name": "Neck stiffness" }, { "ID": 114, "Name": "Nervousness" }, { "ID": 133, "Name": "Night cough" }, { "ID": 1004, "Name": "Night sweats" }, { "ID": 63, "Name": "Non-healing skin wound" }, { "ID": 38, "Name": "Nosebleed" }, { "ID": 221, "Name": "Numbness in the arm" }, { "ID": 254, "Name": "Numbness in the leg" }, { "ID": 200, "Name": "Numbness of the hands" }, { "ID": 137, "Name": "Oversensitivity to light" }, { "ID": 157, "Name": "Overweight" }, { "ID": 155, "Name": "Pain in the bones" }, { "ID": 142, "Name": "Pain in the calves" }, { "ID": 12, "Name": "Pain in the limbs" }, { "ID": 990, "Name": "Pain of the anus" }, { "ID": 203, "Name": "Pain on swallowing" }, { "ID": 251, "Name": "Pain radiating to the arm" }, { "ID": 103, "Name": "Pain radiating to the leg" }, { "ID": 286, "Name": "Pain when chewing" }, { "ID": 189, "Name": "Painful defecation" }, { "ID": 109, "Name": "Painful urination" }, { "ID": 150, "Name": "Pallor" }, { "ID": 37, "Name": "Palpitations" }, { "ID": 140, "Name": "Paralysis" }, { "ID": 118, "Name": "Physical inactivity" }, { "ID": 129, "Name": "Problems with the sense of touch in the face" }, { "ID": 130, "Name": "Problems with the sense of touch in the feet" }, { "ID": 258, "Name": "Protrusion of the eyes" }, { "ID": 172, "Name": "Purulent discharge from the urethra" }, { "ID": 173, "Name": "Purulent discharge from the vagina" }, { "ID": 191, "Name": "Rebound tenderness" }, { "ID": 54, "Name": "Reduced appetite" }, { "ID": 78, "Name": "Ringing in the ear" }, { "ID": 14, "Name": "Runny nose" }, { "ID": 975, "Name": "Sadness" }, { "ID": 269, "Name": "Scalp redness" }, { "ID": 1001, "Name": "Scar" }, { "ID": 60, "Name": "Sensitivity to cold" }, { "ID": 69, "Name": "Sensitivity to glare" }, { "ID": 102, "Name": "Sensitivity to noise" }, { "ID": 264, "Name": "Shiny red tongue" }, { "ID": 29, "Name": "Shortness of breath" }, { "ID": 183, "Name": "Side pain" }, { "ID": 26, "Name": "Skin lesion" }, { "ID": 25, "Name": "Skin nodules" }, { "ID": 124, "Name": "Skin rash" }, { "ID": 61, "Name": "Skin redness" }, { "ID": 217, "Name": "Skin thickening" }, { "ID": 34, "Name": "Skin wheal" }, { "ID": 241, "Name": "Sleepiness with spontaneous falling asleep" }, { "ID": 52, "Name": "Sleeplessness" }, { "ID": 95, "Name": "Sneezing" }, { "ID": 13, "Name": "Sore throat" }, { "ID": 64, "Name": "Sputum" }, { "ID": 179, "Name": "Stomach burning" }, { "ID": 185, "Name": "Stress-related leg pain" }, { "ID": 28, "Name": "Stuffy nose" }, { "ID": 138, "Name": "Sweating" }, { "ID": 236, "Name": "Swelling in the genital area" }, { "ID": 267, "Name": "Swelling of the testicles" }, { "ID": 248, "Name": "Swollen glands in the armpit" }, { "ID": 249, "Name": "Swollen glands in the groin" }, { "ID": 169, "Name": "Swollen glands in the neck" }, { "ID": 211, "Name": "Tears" }, { "ID": 222, "Name": "Testicular pain" }, { "ID": 243, "Name": "Tic" }, { "ID": 201, "Name": "Tingling" }, { "ID": 16, "Name": "Tiredness" }, { "ID": 997, "Name": "Toe deformity" }, { "ID": 1003, "Name": "Toe swelling" }, { "ID": 980, "Name": "Tongue burning" }, { "ID": 977, "Name": "Tongue swelling" }, { "ID": 1008, "Name": "Toothache" }, { "ID": 115, "Name": "Tremor at rest" }, { "ID": 132, "Name": "Tremor on movement" }, { "ID": 988, "Name": "Trouble understanding speech" }, { "ID": 144, "Name": "Unconsciousness, short" }, { "ID": 265, "Name": "Uncontrolled defecation" }, { "ID": 116, "Name": "Underweight" }, { "ID": 160, "Name": "Urge to urinate" }, { "ID": 161, "Name": "Urination during the night" }, { "ID": 68, "Name": "Vision impairment" }, { "ID": 213, "Name": "Vision impairment for far objects" }, { "ID": 166, "Name": "Vision impairment for near objects" }, { "ID": 66, "Name": "Visual field loss" }, { "ID": 101, "Name": "Vomiting" }, { "ID": 181, "Name": "Vomiting blood" }, { "ID": 972, "Name": "Weakness or numbness on right or left side of body" }, { "ID": 23, "Name": "Weight gain" }, { "ID": 22, "Name": "Weight loss" }, { "ID": 30, "Name": "Wheezing" }, { "ID": 187, "Name": "Wound" }, { "ID": 105, "Name": "Yellow colored skin" }, { "ID": 106, "Name": "Yellowish discoloration of the white part of the eye" }]




        const form = document.querySelector('#myform')





        form.addEventListener('submit', function (e) {

            e.preventDefault();

        });

        function getid(params) {
            const x = document.getElementById('myform').elements[0].value;



            symptomes.forEach(element => {
                if (element.Name == x) {
                    document.getElementById('s').style.display = "block"
                    document.getElementById('sym_id').innerHTML = x
                    document.getElementById('ID').innerHTML = element.ID;
                }

            });

        }




    </script>


</body>

</html>